colorlog==4.0.2
cython==0.29.13
matplotlib==3.1.1
natsort==6.0.0
numpy==1.17.0
opencv-python==4.1.1.26
pydicom==1.3.0
scikit-learn==0.21.3
SimpleITK==1.2.0
tensorboardX==1.8
tqdm==4.19.9
visdom==0.1.8.8
yacs==0.1.6
